[Desktop Entry]
Version=1.0
Type=Application
Name=Something
Comment=Mesa Configuration Tool
Exec=mesact
Icon=/usr/share/pixmaps/linuxcncicon.png
Categories=X-CNC;Development
Terminal=false
StartupNotify=true
StartupWMClass=mesact
Name[en_US]=Mesa Configuration
